* {
  margin: 0;
  padding: 0;
  background: #fff;
}

header,
main,
footer,
nav,
section,
header,
div {
  display: block;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 47.944px;
  margin-top: 48px;
  margin-left: 26px;
  flex-shrink: 0;
  text-decoration: none;
  position: relative;
}

#logo span {
  color: #3e3f43;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  position: absolute;
  left: 67px;
  top: 5px;
}

#the-main-nav {
  margin-left: 419px;
  margin-right: 120px;
  margin-top: 48px;
}

nav a:hover {
  color: #612999;
  font-weight: bolder;
}

nav li {
  display: inline;
  margin-right: 64px;
}

nav a {
  color: #612999;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

main {
  margin-top: 32.07px;
  overflow: hidden;
}

#the-main-img {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

#the-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#the-main-img h1 {
  width: 448px;
  color: #612999;
  font-family: Nunito;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 32px;
  left: 32px;
  background: none;
}

#the-main-img p {
  width: 448px;
  color: #000;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 163px;
  left: 32px;
  background: none;
}

#the-about-paragraphs {
  margin-top: 32px;
  margin-left: 32px;
}

#the-about-paragraphs h2 {
  width: 136.443px;
  height: 40px;
  flex-shrink: 0;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

#the-about-paragraphs p {
  margin-top: 24px;
  width: 1136px;
  height: 85px;
  flex-shrink: 0;
  color: #000;
  text-align: justify;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
}

#wrapper h2 {
  margin-top: 39px;
  margin-left: 32px;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

footer {
  height: 287px;
  width: 100%;
  flex-shrink: 0;
  background: #efecff;
  position: relative;
}

.footer-content {
  position: absolute;
  background: none;
}

.footer-content * {
  background: transparent;
}

.footer-content h4 {
  color: #333;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  text-transform: uppercase;
}

.footer-content ul {
  color: #333;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  padding: 0; 
  margin-top: 16px;
}

.footer-content ul a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-top: 5px;
}

#the-right-footer{
  margin-top: 32px;
  margin-left: 32px;
}

#the-left-footer{
  position: absolute;
  top: 32px;
  margin-left: 308px;
}