* {
  margin: 0;
  padding: 0;
  background: #fff;
}

header,
main,
footer,
nav,
section,
header,
div {
  display: block;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 47.944px;
  margin-top: 48px;
  margin-left: 26px;
  flex-shrink: 0;
  text-decoration: none;
}

#logo span {
  color: #3e3f43;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  position: absolute;
  margin-left: 93px;
  margin-top: 6px;
}

#the-main-nav {
  margin-left: 419px;
  margin-right: 120px;
  margin-top: 48px;
}

nav a:hover {
  color: #612999;
  font-weight: bolder;
}

nav li {
  display: inline;
  margin-right: 64px;
}

nav a {
  color: #612999;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

main {
  margin-top: 32.07px;
  overflow: hidden;
}

#the-main-img {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

#the-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#the-main-img h1 {
  width: 448px;
  color: #612999;
  font-family: Nunito;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 32px;
  left: 32px;
  background: none;
}

#the-main-img p {
  width: 448px;
  color: #000;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 163px;
  left: 32px;
  background: none;
}

#the-paragraph {
  margin-top: 32px;
  margin-left: 32px;
}

#the-paragraph h2 {
  width: 136.443px;
  height: 40px;
  flex-shrink: 0;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 100% */
}

#the-paragraph p {
  margin-top: 24px;
  width: 1136px;
  height: 85px;
  flex-shrink: 0;
  color: #000;
  text-align: justify;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%; /* 28.125px */
}

#wrapper {
}

#wrapper h2 {
  margin-top: 39px;
  margin-left: 32px;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 100% */
}
