* {
  margin: 0;
  padding: 0;
  background: #fff;
}

header,
main,
footer,
nav,
section,
header,
div {
  display: block;
}

.nav-container {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 128px;
}

#logo {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 47.944px;
  margin-top: 48px;
  margin-left: 26px;
  flex-shrink: 0;
  text-decoration: none;
  position: absolute;
}

#logo span {
  color: #3e3f43;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  position: absolute;
  left: 67px;
  top: 5px;
}

nav {
  display: inline-block;
}

nav ul {
  margin-left: 419px;
  margin-top: 48px;
}

nav a:hover {
  color: #7f5da0;
}

nav li {
  display: inline;
  margin-right: 64px;
}

#our-books-bold > a {
  font-weight: 700;
}

nav a {
  color: #612999;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

main {
  overflow: hidden;
}

.the-picture > div {
  margin-left: 32px;
}

.the-picture > div > img {
  border: 4px solid #e6dbfe;
  margin-right: 32px;
}

.the-picture > div > img:last-child {
  margin-right: 0;
}

.the-list {
  margin-top: 32px;
  margin-left: 32px;
}

.the-list > h2 {
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  width: 275px;
}

.the-list > ul {
  list-style-type: none;
  margin-top: 32px;
  display: inline-block;
}

.the-list > ul > li {
  width: 82px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 46.5px;
  background: #612999;
  backdrop-filter: blur(10px);
  margin-top: 16px;
  display: flex;
}

.the-list > ul > li > img {
  position: absolute;
  margin-top: 20px;
  margin-left: 26px;
  background: none;
  width: 29px;
  height: 42.385px;
  flex-shrink: 0;
}

.the-list > ul > li > span {
  margin-left: 98px;
  margin-top: 31px;
  position: relative;
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  white-space: nowrap;
}

.contact-us-input {
  margin-top: 32px;
  margin-left: 32px;
}

.contact-us-input > h2 {
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  width: 275px;
}

.contact-us-input > .the-input-place
{
  width: 1136px;
  height: 503px;
  flex-shrink: 0;
  background: #EFECFF;
  margin-top: 32px;
}

footer {
  height: 287px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  margin-top: 198px;
}

.footer-content {
  position: absolute;
  background: none;
  background: #efecff;
}

.footer-content * {
  background: transparent;
}

.footer-content h4 {
  color: #333;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-content ul {
  color: #333;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 24px;
}

.footer-content ul a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-top: 5px;
}

#the-left-footer {
  margin-top: 32px;
  margin-left: 32px;
}

#the-right-footer {
  position: absolute;
  top: 32px;
  margin-left: 308px;
}

.logos-footer {
  display: inline;
  width: 24.618px;
  height: 20px;
  flex-shrink: 0;
  fill: #272d4e;
}

.logos-footer a {
  margin-right: 24px;
}

.logos-footer a:last-child {
  margin-right: 0;
}

.footer-content > div {
  color: #333;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 198px;
  height: 18px;
  flex-shrink: 0;
  margin-top: 16px;
  margin-left: 32px;
}
